{{#with trip}}
<h1>{{title}}</h1>
<p>{{Address}}</p>
<p>{{Distance}}km</p>
<img src="{{Picture}}">
<div>{{Description}}</div>
<div id="longitude">{{location.coordinates.[1]}}</div>
<div id="latitude">{{location.coordinates.[0]}}</div>
<div id="detailMap" style='width: 400px; height: 300px;'></div>
<a href='/favorite-remove/{{this._id}}'>Remove from favorite</a><br>
<a href='/profile'>Back to profile</a>
{{/with}}