<h1>{{title}} 🚀</h1>

<p>Get off that sofa and explore:</p>
<form action="/search" method="POST">
  <label for="District">Choose a district where you want to start:</label>
  <select id="District" name="District">
    {{#each trips}}
    <option value="{{this.District}}">{{this.District}}</option>
    {{/each}}
  </select>
  <br>
  <label for="Distance">Distance:</label>
    <select id="Distance" name="Distance">
      <option value="10">< 10km</option>
      <option value="20">10 - 20km</option>
      <option value="30">< 30km</option>
      <option value="31">> 30km</option>
    </select>
  <br>
  <p>Mode:</p>
  <input type="radio" id="bike" name="Mode" value="bike">
  <label for="bike">Bike</label>  
  <input type="radio" id="hike" name="Mode" value="hike">
  <label for="hike">Hike</label>
    <br>
  <button type="submit">Search</button>
</form>

{{#each trips}}
  <div>
    <h3>{{title}}</h3>
    <p>{{Address}}</p>
    <p>{{Distance}}km</p>
    <img src="{{Picture}}" alt="picture of trip">
    <a href="/details/{{id}}">Find out more</a>
  </div>
{{/each}}

<a href='/signup'>Signup</a><br>
<a href='/login'>Login</a>


