<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<nav>
  <ul>
    <li><a href='/signup'>Signup</a></li>
    <li><a href='/login'>Login</a></li>
  </ul>
</nav>

<div class="header">
  <div class="photo">
    <img src="https://res.cloudinary.com/chocogrenouille/image/upload/v1619706230/coverphoto_l72hgv.jpg">
  </div>
  <div class="headline">
    Discover Berlin by bike or foot
  </div>
</div>

<div class="filter-form">
<form action="/search" method="POST" class="filter-trips">
  <label for="District">What part of Berlin do you want to explore?</label>
  <select id="District" name="District">
    <option value="Reinickendorf">Reinickendorf</option>
    <option value="Pankow">Pankow</option>
    <option value="Mitte">Mitte</option>
    <option value="Charlottenburg-Wilmersdorf">Charlottenburg-Wilmersdorf</option>
    <option value="Friedrichshain-Kreuzberg">Friedrichshain-Kreuzberg</option>
    <option value="Lichtenberg">Lichtenberg</option>
    <option value="Marzahn-Hellersdorf">Marzahn-Hellersdorf</option>
    <option value="Neukölln">Neukölln</option>
    <option value="Spandau">Spandau</option>
    <option value="Steglitz-Zehlendorf">Steglitz-Zehlendorf</option>
    <option value="Tempelhof-Schöneberg">Tempelhof-Schöneberg</option>
    <option value="Treptow-Köpenick">Treptow-Köpenick</option>
  </select>
  <br>
  <label for="Distance">Distance:</label>
    <select id="Distance" name="Distance">
      <option value="10">< 10km</option>
      <option value="20">10 - 20km</option>
      <option value="30">< 30km</option>
      <option value="31">> 30km</option>
    </select>
  <br>
  <label for="Mode">Mode:</label>
  <input type="radio" id="bike" name="Mode" value="bike" required>
  <label for="bike">Bike</label>  
  <input type="radio" id="hike" name="Mode" value="hike">
  <label for="hike">Hike</label>
    <br>
  <button type="submit">Search</button>
</form>
</div>

{{#each trips}}
  <div class="parent-overview">
    <div class="trips-overview">
      <div class="photo-overview">
        <img src="{{Picture}}" alt="picture of trip">
      </div>
      <div class="details-overview">
        <h3>{{title}}</h3>
        <p><b>Starting point:</b> {{Address}}</p>
        <p><b>Length of trip:</b> {{Distance}}km</p>
        <p class="gap-two"></p>
        <a href="/details/{{id}}">Find out more</a>
      </div>
    </div>
  </div>
  <p class="gap"></p>
{{/each}}



