<h1>Welcome {{user.username}}</h1><br>
<a href='/'>Back to the main page</a><br>
<a href='/logout'>Logout</a><br>
<a href='/add'>Add a new Trip</a>
<p>Your favorite Trips :</p>
{{#each user.favorite}}
  <div>
    <h3>{{title}}</h3>
    <p>{{Address}}</p>
    <p>{{Distance}}km</p>
    <img src="{{Picture}}" alt="picture of trip">
    <a href="/details/{{id}}">Find out more</a>
  </div>
{{/each}}
